#__next {
  width: 8.5in;
  height: 11in;
  background-color: #fff;
}

@page {
  size: 8.5in 11in;
}

@media print {
  body {
    margin: 0mm;
    padding: 0mm;
    background-color: #fff;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen {
  #__next {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    overflow: hidden;
  }
  body {
    background-color: #000;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}
